Get_TLDR_Webdev_every_working_days.json
{
  "name": "Get TLDR Webdev every working days",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        160
      ],
      "id": "d94be79f-4d47-4848-9eea-e42025632ac4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://tldr.tech/webdev/{{ $json.businessDays }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        120
      ],
      "id": "d3398cba-0d53-4fdd-9ba3-d954e7dabce6",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        840,
        100
      ],
      "id": "9563347a-e51a-447b-88e1-b25cc944e3c5",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsCode": "const current = new Date();\nreturn {day: current.getDay()};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        100
      ],
      "id": "39c62440-dd60-4aab-b4d7-d5874cb82afb",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abd61a76-042b-462b-b3f8-8e2cd4b65166",
              "leftValue": "={{ $json.day }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "ff1e89c7-482a-44cd-a051-3277cd7a986a",
              "leftValue": "={{ $json.day }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "bb7c4d5b-95c6-469a-b993-af6f5cfc6b53",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const current = new Date();\nconst businessDays = [current.toISOString().split(\"T\")[0]];\n\nreturn [{ businessDays }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        160
      ],
      "id": "195d6597-2f6b-45bc-a98d-58e48ebd7aa2",
      "name": "Code3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "khUbhkhQqFl98U5w",
          "mode": "list",
          "cachedResultName": "Newsletter digest with chatGPT and Notion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1060,
        100
      ],
      "id": "8926771f-1223-4fea-b44d-7845a5bb48f0",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b49ce154-7f38-45f9-a32b-84c7cf624f0c",
  "meta": {
    "instanceId": "cf6e44250fdf0cbdb4e21b91e108c36b4b3e013e9e72d1f88bb30ba6f6f6d9c7"
  },
  "id": "dfMIHxscEadP65oL",
  "tags": [
    {
      "createdAt": "2025-02-11T19:52:14.370Z",
      "updatedAt": "2025-02-11T19:52:14.370Z",
      "id": "BQk9YfcY8fyG9iTJ",
      "name": "tldr"
    },
    {
      "createdAt": "2025-02-11T19:52:14.364Z",
      "updatedAt": "2025-02-11T19:52:14.364Z",
      "id": "JqvSfJ1nHegL8qHw",
      "name": "ai"
    },
    {
      "createdAt": "2025-02-11T19:52:14.359Z",
      "updatedAt": "2025-02-11T19:52:14.359Z",
      "id": "NRfOpn1Sv8Mv3rWn",
      "name": "newsletter"
    }
  ]
}